html {
    font-size: 12pt;
    font-family: Lora, 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    line-height: 2.5em;
    font-variant: small-caps;
}

#name_search {
    background-image: url('search.png'); /* Add a search icon to input */
    background-position: 5px 6px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 15%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    font-family: Lora, 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-variant: small-caps;
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#spell_table {
    width: 90%;
}

table, tr, th {
    border-collapse: collapse;
}

td {
    padding: 2px 15px 2px 15px;
    border: 1px solid #ddd;
}

tr:hover {
    background-color: #ddd;
}